{{#link-to 'article' article.id}}
  <div class="carousel-item  white-text red" style="background-image:url({{article.photo}});background-repeat:no-repeat; background-size: cover;">

    <h1 class="white-text ">{{article.headline}}</h1>
  </div>
{{/link-to}}
