<div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input id="headline" type="text" class="validate">
         <label for="headline">Article Title</label>
       </div>
       <div class="input-field col s6">
         <input id="author" type="text" class="validate">
         <label for="author">Author</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="date" type="text" class="validate">
         <label for="date">Published On</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="excerpt" type="text" class="validate">
         <label for="excerpt"> Card Excerpt</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="photo" type="text" class="validate">
         <label for="photo">Article Photo</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="body" type="text" class="validate">
         <label for="body">Article Body</label>
       </div>
     </div>
     <button {{action 'saveArticle'}} type="submit" class="btn">Submit</button>
   </form>
 </div>
