nav ul a,
nav .brand-logo {
  color: black;
}

//card styles
.card {
  color: lighten(black, 30%);
  .card-image {
    margin: 2.5% 0 2.5% 2.5%;
  }
  .card-content{
    p {
      margin-top: 5%;
    }
    #right {
      float: right;
    }
  }
}

#title-image {
  width: 100%;
}

  .carousel-item {
    height: 500px !important;
    img {
      height: 500px;
    }
    h1{
      z-index: 1 !important;
    }
  }

  //article detail
  .article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    img {
      width: 500px;
      height: 350px;
    }
  }
