<div class="carousel carousel-slider center" data-indicators="true">
    {{#each model as |article|}}
      {{carousel-head article=article}}
    {{/each}}
</div>

<div class="container">
  <ul>
    {{#each model as |article|}}
      {{article-tile article=article}}
    {{/each}}
  </ul>
</div>
